/* **************************** body ************************************************* */
body {
  margin: 0;
  background-color: #d7fbe8;
  /* background-color: white; */

}


h1 {
  font-size: 300%;
  font-family: 'Electrolize', sans-serif;
  color: #505050;
  text-align: center;
  margin-top: 50px;
}

h2 {
  font-size: 200%;
  font-family: 'Electrolize', sans-serif;
  color: #505050;
  text-align: center;
}

p {
  font-size: 1.3rem;
  /* line-height: 1.7; */
  margin: 5px;
  font-weight: bold;
  color: #505050;
  text-align: center;
}

hr {
  border: none;
  border-bottom: 1px #A8A59C;
  border-bottom-style: dotted;
  border-width: 0.7vw;
  width: 7vw;
}

/* *********************************Top info*************************************** */
.info-me {
  width: 80vw;
  /* background-color: #f3f4ed; */
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

.img-me {
  width: 10vw;
  height: 10vw;
  margin-bottom: 50px;
}

/* **************************** Skills, Education, Experience, Hobbies container **/
.Skills-container, .Education-container, .Experience-container, .Hobbies-container {
  display: flex;
  /* border: 1px solid; */
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 50px;
}

.info-container {
  width: 35vw;
  /* height: 400px; */
  border: 1px solid;
  margin: 2vw;
  border-radius: 10px;
}

.contact-me {
  position: absolute;
  left: 0;
  top: 300px;
}

.contact-me-1{
display:block;
height:50px;
width:50px;
margin: 0 0 15px 3px;

}

.fab {
  color: #505050;
  position: fixed;
  font-size: 4rem;

}

.fab:hover {
  color: black;
  font-size: 5rem;
}

.end {
  height: 20vw;
}

.info-grid {
  /* border: 1px solid;
  border-radius: 10px; */
  display: grid;
  grid-template-columns: auto auto;
}

.grid {
  /* border: 1px solid; */
}


/* **************************** Bottom (clouds) ************************************/
.bottom-container {
  display: flex;
  /* position: fixed; */
}

.bottom {
  position: fixed;
  bottom: 0;
  background-color: #e3fdfd; opacity: 0.85;
}

.cloud {
  width: 25vw;
  height: 10vw;
  position: relative;
  overflow: hidden;
  margin: auto;
  margin-bottom: 0.5vw;
}

.cloud-part-1 {
  width: 4vw;
  height: 4vw;
  background-color: #9ddfd3;
  border-radius: 100%;
  position: absolute;
  bottom: -2.5vw;
  left: 1vw;
  z-index: 1;
}

.cloud-part-2 {
  width: 7vw;
  height: 7vw;
  background-color: #9ddfd3;
  border-radius: 100%;
  position: absolute;
  bottom: -4vw;
  left: 4vw;
  z-index: 1;
}

.cloud-part-3 {
  width: 11vw;
  height: 11vw;
  background-color: #9ddfd3;
  border-radius: 100%;
  position: absolute;
  bottom: -6vw;
  left: 8vw;
  z-index: 1;
}

.cloud-part-4 {
  width: 7vw;
  height: 7vw;
  background-color: #9ddfd3;
  border-radius: 100%;
  position: absolute;
  bottom: -4vw;
  left: 16vw;
}

.cloud-center {
  width: 25vw;
  height: 10vw;
  position: relative;
  overflow: hidden;
  margin-left: 1vw;
}

.cloud-center-part-2 {
  width: 7vw;
  height: 7vw;
  background-color: #9ddfd3;
  border-radius: 100%;
  position: absolute;
  bottom: -4vw;
  left: 4vw;
}

.cloud-center-part-3 {
  width: 11vw;
  height: 11vw;
  background-color: #9ddfd3;
  border-radius: 100%;
  position: absolute;
  bottom: -6vw;
  left: 8vw;
}

.cloud-center-part-4 {
  width: 6vw;
  height: 6vw;
  background-color: #9ddfd3;
  border-radius: 100%;
  position: absolute;
  bottom: -4vw;
  left: 16vw;
}

/* **************************** Bottom (sun) ************************************ */
.sun {
  width: 8vw;
  height: 8vw;
  border-radius: 100%;
  background-color: #f58634;
  position: relative;
  /* margin-top: 5vw; */
  margin-left: 1vw;
}

.sun-spot-1 {
  width: 1vw;
  height: 1vw;
  border-radius: 100%;
  background-color: #ffb037;
  position: absolute;
  bottom: 2vw;
  left: 2vw;
  z-index: 1;
}

.sun-spot-2 {
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 100%;
  background-color: #ffb037;
  position: absolute;
  bottom: 4vw;
  left: 1vw;
  z-index: 1;
}

.sun-ray-1 {
  width: 0.5vw;
  height: 10vw;
  transform: rotate(125deg);
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  top: -1vw;
  left: 3.7vw;
  background-color: #f58634;
}

.sun-ray-2 {
  width: 0.5vw;
  height: 10vw;
  transform: rotate(-125deg);
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  left: 3.7vw;
  bottom: -1vw;
  background-color: #f58634;
}

.sun-ray-3 {
  width: 0.5vw;
  height: 9vw;
  transform: rotate(0deg);
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  bottom: -0.5vw;
  right: 3.8vw;
  background-color: #f58634;
}

.sun-ray-4 {
  width: 0.5vw;
  height: 9vw;
  transform: rotate(90deg);
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  bottom: -0.5vw;
  right: 3.8vw;
  background-color: #f58634;
}

.sun-ray-5 {
  width: 0.5vw;
  height: 10vw;
  transform: rotate(155deg);
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  bottom: -0.8vw;
  right: 3.7vw;
  background-color: #f58634;
}

.sun-ray-6 {
  width: 0.5vw;
  height: 10vw;
  transform: rotate(-155deg);
  border-radius: 5px 5px 5px 5px;
  position: absolute;
  bottom: -0.8vw;
  right: 3.7vw;
  background-color: #f58634;
}

/* **************************** Bottom (mountains) ************************************ */
.top-mountains {
  /* margin-top: 7vw; */
  border: none;
  width: 100vw;
  position: relative;
}

.top-m1 {
  width: 0;
  height: 0;
  border-left: 8vw solid transparent;
  border-right: 8vw solid transparent;
  border-bottom: 17vw solid #A8A59C;
  /* #A8A59C */
  position: absolute;
  bottom: 0;
}

.top-m2 {
  width: 0;
  height: 0;
  border-left: 4vw solid transparent;
  border-right: 4vw solid transparent;
  border-bottom: 8vw solid #A8A59C;
  /* #1AB38 */
  position: absolute;
  bottom: 0;
  left: 11vw;
}

.snow-m1 {
  width: 0;
  height: 0;
  border-left: 1vw solid transparent;
  border-right: 1vw solid transparent;
  border-bottom: 2vw solid #D3D3D3;
  position: absolute;
  left: -1vw;
}

/* *********************************media********************************* */
@media (max-width: 1028px) {
  p {
    font-size: 1.4rem;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  .img-me {
    width: 25vw;
    height: 25vw;
  }

  hr {
    border-width: 1.4vw;
  }

  .Skills-container {
    flex-direction: column;
  }

  .info-container {
    width: 70vw;

  }

  .fab {
    color: #505050;
    position: fixed;
    font-size: 7rem;

  }

  .fab:hover {
    color: black;
    font-size: 8rem;
  }

  .contact-me-1{
  display:block;
  height:100px;
  width:100px;
  margin: 0 0 20px 3px;
}
.contact-me {
  position: absolute;
  left: 0;
  top: 400px;
}

}
