/* **************************Fonts***************************** */
/* font-family: 'Electrolize', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Source Sans Pro', sans-serif; */
/* https://colorhunt.co/palette/273472 */
/* **************************text********************************************/
h1 {
  font-size: 5rem;
  font-family: 'Electrolize', sans-serif;
  color: #5aa897;
  margin-bottom: 40px;
  text-align: center;
}

p {
  text-align: center;
  color: #505050;
  font-size: 1.2rem;
}

.heading {
  padding: 7% 20% 0 20%;
}

.heading-text{
  font-size: 3.5rem;
}

h2{
  font-size: 1.5rem;
  font-family: 'Electrolize', sans-serif;
  color: #45526c;
}

/* **************************boddy********************************************/
body {
  padding: 0;
  margin: 0;
  background-color: #f8f5f1;
}

.background {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8f5f1;
  z-index: -1;
  opacity: 0.07;
  justify-content: center;
  align-items: center;
}

.mountain-background {
  position: fixed;
  height: 600px;
  width: 600px;
  background-color: grey;
  clip-path: polygon(65% 75%, 59% 74%, 72% 49%, 99% 96%, 0 96%, 42% 9%);
}

/* **************************sections*****************************************/
.top-section-grid {
  position: fixed;
  display: grid;
  grid-template-columns: 50px 50px 100px 50px auto 100px;
  width: 100vw;
  background-color: #5aa897;
  /* border: 1px solid black; */
}

.skills {
  /* width: 100%; */
  /* height: 100px; */
  /* border: 1px solid black; */
  /* padding: 7% 20% 0 20%; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}


/* **************************Nav bar******************************************/
.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-container {
  text-align: right;
  background-color: #5aa897;
  /* border: 1px solid black; */
  /* height: 70px; */
}

.nav-li {
  display: inline-block;
  font-size: 1.7rem;
  margin-top: 15px;
}

.nav-li-mobile {
  font-size: 3rem;
  margin-top: 15px;
  text-align: center;
}

.nav-links {
  color: white;
  text-decoration: none;
  font-family: 'Noto Serif', serif;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  font-weight: 500;
}

.nav-links:hover {
  background-color: #45526c;
}

.menu-button {
  background-color: #5aa897;
  position: relative;
}

#menu {
  transform: scale(6.5);
  position: absolute;
  left: 32px;
  bottom: 32px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}

.menu-line-top, .menu-line-center, .menu-line-bottom {
  width: 70px;
  height: 10px;
  background-color: white;
  border-radius: 10px;
  margin: 12px 0px 10px 2px;
}

#menu:checked~.menu-line {
  background-color: #45526c;
}

#menu:checked~.menu-line-bottom {
  transform: translate(0, -22px);
  transition-duration: 0.3s;
}

#menu:checked~.menu-line-top {
  transform: translate(0, 22px);
  transition-duration: 0.3s;
}

#menu:checked~.test {
  background-color: #5aa897;
  transform: none;
}

.test {
  position: absolute;
  width: 300px;
  height: 300px;
  /* border: 1px solid black; */
  background-color: #45526c;
  top: 75px;
  left: -200px;
  transform: translate(300px, 0);
  transition-duration: 0.3s;
  border-radius: 10px;
  z-index: 1;
}

/* **************************Logo*********************************************/
.logo-tree {
  position: relative;
  top: 0;
  left: 0;
  height: 70px;
  width: 50px;
  background-color: #5aa897;
  /* border: 1px solid black; */
}

.tree-trunk {
  position: absolute;
  height: 20px;
  width: 4px;
  background-color: brown;
  bottom: 0;
  left: 23px;
}

.tree-part1 {
  position: absolute;
  border-top: 0 transparent;
  border-bottom: 25px solid darkgreen;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  bottom: 15px;
  left: 5px;
}

.tree-part2 {
  position: absolute;
  border-top: 0 transparent;
  border-bottom: 20px solid green;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  bottom: 30px;
  left: 10px;
}

.tree-part3 {
  position: absolute;
  border-top: 0 transparent;
  border-bottom: 15px solid forestgreen;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  bottom: 45px;
  left: 15px;
}

.mountain {
  background-color: #5aa897;
  /* border: 1px solid black; */
}

.m1 {
  width: 100px;
  height: 70px;
  background-color: white;
  clip-path: polygon(42% 15%, 73% 84%, 83% 57%, 100% 100%, 0 100%, 41% 15%);
}

/* **************************info section**************************************/
.profile-img {
  width: 200px;
}

.info-me {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-photo, .profile-info {
  padding-left: 50px;
  padding-right: 50px;
}

.info-additional {
  padding: 0 25%;
}

/* **************************Skills*******************************************/
.info-container {
  width: 30vw;
  /* height: 100px; */
  /* border: 1px solid black; */
  border-radius: 10px;
   margin: 30px;
  /* margin: 30px 40px 100px 30px; */
  position: relative;
  z-index: -1;

}

.progress {
  position: relative;
  width: 95%;
  height: 10px;
  margin: 5px 10px 0 0;
  /* border: 1px solid black; */
  background-color: #C0C0C0;
  border-radius: 10px;
}

.info-container p {
  text-align: left;
  line-height: 0;
}

.progress span {
  position: absolute;
  background: #5aa897;
  width: 0%;
  height: 100%;
  border-radius: 10px;
}





.HTML span {
  width: 80%;
  animation: HTML 3s;
}

.CSS span {
  width: 60%;
  animation: CSS 3s;
}

.C span {
  width: 30%;
  animation: C 3s;
}

.boostrap span{
  width: 50%;
  animation: boostrap 3s;
}

.labview span{
  width: 40%;
  animation: labview 3s;
}

.analogue span {
  width: 50%;
  animation: analogue 3s;
}

.digital span{
  width: 40%;
  animation: digital 3s;
}

.BLDC span{
  width: 30%;
  animation: BLDC 3s;
}

.LTspice span{
  width: 20%;
  animation: LTspice 3s;
}








.HTML span::before{
content: "80%";
position: absolute;
right: -20px;
top: -20px;
}

.CSS span::before{
content: "60%";
position: absolute;
right: -20px;
top: -20px;
}

.C span::before{
content: "30%";
position: absolute;
right: -20px;
top: -20px;
}

.boostrap span::before{
content: "50%";
position: absolute;
right: -20px;
top: -20px;
}

.labview span::before{
content: "40%";
position: absolute;
right: -20px;
top: -20px;
}

.analogue span::before{
content: "50%";
position: absolute;
right: -20px;
top: -20px;
}

.digital span::before{
content: "40%";
position: absolute;
right: -20px;
top: -20px;
}

.BLDC span::before{
content: "30%";
position: absolute;
right: -20px;
top: -20px;
}

.LTspice span::before{
content: "20%";
position: absolute;
right: -20px;
top: -20px;
}







@keyframes HTML {
  0%   {width:0%;}
 100%  {width:80%;}
}

@keyframes CSS {
  0%   {width:0%;}
 100%  {width:60%;}
}

@keyframes C {
  0%   {width:0%;}
 100%  {width:30%;}
}

@keyframes boostrap {
  0%   {width:0%;}
 100%  {width:50%;}
}

@keyframes labview {
  0%   {width:0%;}
 100%  {width:40%;}
}

@keyframes analogue {
  0%   {width:0%;}
 100%  {width:50%;}
}

@keyframes digital {
  0%   {width:0%;}
 100%  {width:40%;}
}

@keyframes BLDC {
  0%   {width:0%;}
 100%  {width:30%;}
}

@keyframes LTspice {
  0%   {width:0%;}
 100%  {width:20%;}
}




/* **************************education*****************************************/


.education, .experience {
  display: grid;
  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
  width: 30vw;
  margin: auto;
  border-radius: 10px;
  grid-template-columns: 10vw 20vw;
}


.p-allign-left{
  text-align: left;
}

/* **************************hobbies*******************************************/

.hobbies{
display: flex;
/* align-items: center; */
justify-content: center;
margin: auto;
/* border: 1px solid black; */
width: 60vw;
flex-direction: row;
flex-wrap: wrap;
}

.hobby-div{
/* border: 1px solid black; */
margin: 30px;
position: relative;
}

.hobby-text{
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
}

.hobby-img{
margin: 0;
/* aspect-ratio: 16 / 9; */
width: 500px;
height: 281.25px;
/* width: 700px;
height: 393.75px; */
/* border: 1px solid black; */
  
background-image: url("../img/testimg.jpg");  
  
background-size: cover;
border-radius: 20px;
visibility: visible;
}

.hobby-checkbox{
  position: absolute;
  top: 7px;
  left: 140px;
  transform: scale(2);
  z-index: 1;
}

.hobby-checkbox:checked~.hobby-img{
  visibility: hidden;
  height: 0;
}

/* **************************media********************************************/
@media (max-width: 1028px) {
  p {
    font-size: 1.7rem;
  }

  h2{
    font-size: 2.2rem;

  }

  .info-additional {
    padding: 0 5%;
  }

  /* .nav-li{
    font-size: 2.6rem;
    padding-bottom: 10px;
  } */
  .info-me, .profile-info {
    flex-direction: column;
    text-align: center;
  }

  .nav-container ul {
    visibility: hidden;
  }

  .skills {
    flex-direction: column;
  }

  .info-container {
    width: 80vw;
    margin: auto;
  }

  .first-info-container-padding{
    padding-bottom: 100px;
  }

.education, .experience {
 width: 80vw;
grid-template-columns: 20vw 60vw;
}

.hobby-img{
width: 700px;
height: 400px;
}

.hobbies{
width: 80vw;

}


}

@media (min-width: 1028px) {
  .menu-line-top, .menu-line-center, .menu-line-bottom {
    visibility: hidden;
  }

  #menu {
    cursor: unset;
    visibility: hidden;
  }
}
